<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
	<style type="text/css">
	pre {
				font-family:標楷體;
				color:blue;
	    }
	history {

			}
	</style>
</head>
<body>
<div align="left">
<pre>
{% if last_command %}指令: {{ last_command }} 已傳送.{% endif %}
</pre>
    <form method='post' action={{ url_for('post_1') }}>
        <p>
        輸入指令:<input type='text' name='send_command' />
    </p>
	<input type="submit" name="submit_button" value="傳送">
	<input type="submit" name="submit_button" value="起飛/降落">
    </form>

{% for key in list %}
<li>{{ loop.index }} : {{key}} <br/></li>
{% endfor %}
</body>
</html>