{% for label, command in commands.items() %}
    <button class="command command-{{ command }}" value="{{ command }}">
        {{ label }}
    </button>
{% endfor %}

{# and then elsewhere #}

<script>
addEventListener("DOMContentLoaded", function() {
  var commandButtons = document.querySelectorAll(".command");
  for (var i=0, l=commandButtons.length; i<l; i++) {
    var button = commandButtons[i];
    button.addEventListener("click", function(e) {
      e.preventDefault();

      var clickedButton = e.target;
      var command = clickedButton.value;

      var request = new XMLHttpRequest();
      request.onload = function() {
		alert("1");
		{% print("123") %}
          //alert(request.responseText);
      };
      request.open("GET", "/" + command, true);
      request.send();
    });
  }
}, true);
</script>